@page
@model HospitalWebApp.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<!-- Search Form -->
<form method="get">
    <input type="text" name="SearchString" placeholder="Search by name..." value="@Model.SearchString" />
    <button type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
