@page
@model GalleryWebApp.Pages.Exhibitions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exhibition[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exhibition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExhibitionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExhibitionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExhibitionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
